body{
    margin: 0;
    padding: 0;
}

h2{
    color: rgb(212, 113, 21);
}

span{
    color:rgb(177, 130, 2);
}

#pets{
    height: 490px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.card{
    height: 480px;
    width: 370px;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

h3{
    margin-left: 10px;
}

p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(54, 54, 54);
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
}

img{
    width: 350px;
    height: 200px;
    border-radius: 30px;
    margin: 10px;
}

@media(max-width:375px){
    #pets{
        height: 1020px;
        width: 100%;
        display: block;
    }
    .card{
        margin-top: 20px;
    }
}

h4{
    text-align: end;
    margin-right: 30px;
    color: rgb(123, 126, 125);
}